#top{
	height:29px;
	background: #f2f2f2;
}
#top>div>div>ul>li>ul{
	z-index: 223;
}
#countdown{
	width:100%;
	height:60px;
	background: url(img/time.jpg) no-repeat center top;
}
#countdown>div{
	width: 990px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
#countdown>div>p{
	height: 60px;
	text-align: center;
	position: absolute;
	left: 448px;
}
#countdown>div>p>b{
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #f6f6f6;
	font-size: 46px;
	border-radius: 5px;
	background:url(img/temDefault-24.png) -72px 0;
	display: inline-block;
	font-size: 46px;
	margin:0 33px 0 0
}
#main>p>a{
	display: block;
	width:1200px;
	height:90px;
	margin: 0 auto;
}
#list{
	width:100%;
	background: #f2f4ff;
}
#list>div{
	width: 1263px;
	margin:0 auto;
	overflow: hidden;
}
#list>div img{
	width:100%;
	display: inline-block;
	border:none
}
#list>div>a{
	display: block;
}
#right{
	position: fixed;
	right: 0;
	background:url(../img/right.png) no-repeat;
	padding-top: 169px;
	height: 496px;
	width: 143px;
	position: fixed;
	top: 150px;
	display:none;
	left: 1120px;
}
#right>a{
	display: block;
}
#pages{
	width:1200px;
	height:auto;
	margin: 0 auto 30px;
	overflow: hidden;
}
#pages>ul{
	width:100%;
	height:670px;
	overflow: hidden;
}
#pages>ul>li{
	width:240px;
	height:325px;
	margin-bottom: 10px;
	position: relative;
	float: left;
}
#pages>ul>li>a{
	display: block;
	width: 220px;
	height: 220px;
	margin: 5px auto;
	overflow: hidden;
}
#pages>ul>li>a>img{
	width:100%;
	height:100%
}
#pages>ul>li>p{
	height: 30px;
	font-size:16px;
	color: #e4393c;
	line-height: 30px;
	overflow: hidden;
	word-break: break-all
}
#pages>ul>li>p>a{
	display: block;
	color: #000;
}
#box{
	width: 100%;
	overflow: hidden;
	cursor: pointer;
}
#box>div{
	height: 28px;
	margin-bottom: 50px;
	float: right;
}
#box>div>span{
	float: left;
	height: 26px;
	border: 1px solid #e1e1e1;
	color: #333;
	text-align: center;
	line-height: 26px;
	margin-left: 6px;
	display: inline-block;
}
#box>div>ul{
	float: left;
}
#box>div>ul>li{
	float: left;
	width: 34px;
	height: 26px;
	border: 1px solid #e1e1e1;
	color: #333;
	text-align: center;
	line-height: 26px;
	margin-left: 6px;
}
#box .c41{
	color: #fff;
	background-color: #c41921;
	border: 1px solid #c41921;
}
.loadFifth .footer .footerTop,.footerServices,.footerBot{
	width:1000px
}
.footerServices ul li {
    width: 120px;
    float: left;
    display: inline;
    margin-right: 15px;
}
.footerServices ul li h3 span {
    width: 60px;
}
.footerServices ul li p {
    padding-left: 35px;
}